/* 
@font-face {
  font-family: SatoshiRegular;
  src: url(../../../public/Satoshi-Regular.otf);
}

@font-face {
  font-family: SatoshiMedium;
  src: url(../../../public/Satoshi-Medium.otf);
}

@font-face {
  font-family: PowerGroteskTrialBold;
  src: url(../../../public/powergrotesk-bold.otf);
}

@font-face {
  font-family: ShantellSans;
  src: url(../../../public/ShantellSans-Regular.ttf);
}


.bodyRegularText5,.hs-richtext{
  font-family: SatoshiRegular !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 150% !important;
}


.bodyRegularText5,.hs-richtext,.hs-form-booleancheckbox-display > span{
  font-size: 12px !important;
}
Large Screens (Desktops)
@media (min-width: 2100px) {
 .bodyRegularText5,.hs-richtext{
    font-size: 18px !important;
  }
}
@media (max-width: 1640px) {
 .bodyRegularText5,.hs-richtext{
     font-size: 11px !important;
  }
}
@media (max-width: 1024px) {
 .bodyRegularText5,.hs-richtext{
     font-size: 10px !important;
  }
}
@media (max-width: 768px) {
 .bodyRegularText5,.hs-richtext{
     font-size: 9px !important;
  }

}
@media (max-width: 480px) {
 .bodyRegularText5,.hs-richtext{
     font-size:8px !important;
  }
} */

.footer-container {
    margin-top: 200px;

}

.mobile-contact {
    display: none !important;
}

.webite-contact {
    width: 40% !important;
}

.footer-right {
    width: 35% !important;
}

/* .btn-spac-left {
    margin-left: 20px !important;
}

.btn-spac-right {
    margin-right: 15px !important;
} */
.social-icon-sec {
    margin-top: 20px !important;
}

.footer-scroll-text {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 20s linear infinite;
}

.mail-btn {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 50px !important;
    background-color: #F4F4F4 !important;
}
.css-18y2hez-MuiFormHelperText-root{
    display: none;
}


.footer-mobile-contact{
    display: none;
}

@keyframes scroll-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-200%);
    }
}

.rfm-marquee-container {
    overflow: hidden !important;
}


@media (min-width: 1920px) {
    .footerBottomhead {
        bottom: -45px !important;
        font-size: calc(4.5rem + 4vw) !important;
    }

    .footer-right {
        margin-top: 20px !important;
        width: 30% !important;
    }
}

@media (min-width: 2100px) {
    .footerBottomhead {
        font-size: calc(4.3rem + 4.5vw) !important;
    }
}

@media (min-width: 2400px) {
    .footerBottomhead {
        font-size: calc(4.3rem + 5vw) !important;
    }
}

@media (min-width: 2700px) {
    .footerBottomhead {
        bottom: -65px !important;
        font-size: calc(4.8rem + 5vw) !important;
    }
}

@media (max-width: 1920px) {
    .footerBottomhead {
        bottom: -45px !important;
        font-size: calc(4rem + 4.3vw) !important;
    }

    .btn-social-icon {
        gap: 50px !important;
    }

    .footer-main-div {
        margin-bottom: 0px !important;
    }

    .footerBottom-div {
        width: 100% !important;
        margin: 0;
    }

    /* .footer-orange-ball {
        width: 860px !important;
        height: 850px !important;
    } */

    .footer-section {
        padding-top: 40px !important;
    }

    /* .footerhead {
        margin-bottom: 40px !important;
    } */

}

@media (max-width: 1750px) {
    .footerBottomhead {
        bottom: -35px !important;
        font-size: calc(4rem + 3.8vw) !important;
    }
}

@media (max-width: 1550px) {
    .footerBottomhead {
        bottom: -35px !important;
        font-size: calc(4rem + 3.5vw) !important;
    }
}

@media (max-width: 1440px) {
    .footerBottomhead {
        bottom: -30px !important;
        font-size: clamp(60px, 7.5vw, 145px) !important;
    }

    /* .footerhead {
        margin-bottom: 20px !important;
    } */

    .footer-section {
        max-height: 120vh !important;
    }

    .footer-main-div {
        margin-bottom: 03px !important;
    }

    /* .footer-orange-ball {
        width: 760px !important;
        height: 750px !important;
    } */
}

@media (max-width: 1204px) {
    .btn-social-icon {
        width: 10% !important;
    }

}

@media (max-width: 1024px) {
    .footerBottomhead {
        bottom: -25px !important;
        font-size: clamp(60px, 7.5vw, 155px) !important;
    }

    .footer-policy-div {
        position: relative !important;
        bottom: -20px !important;
    }

}

@media (max-width: 899px) {
    /* .webite-contact {
        display: none !important;
    } */

    .footer-section {
        max-height: none !important;
        height: fit-content !important;
    }
.footer-website-contact{
    display: none;
}
.footer-mobile-contact{
    display: block;
}
    .footercontact {
        position: relative;
        bottom: -10px;
    }

    .mobile-contact {
        display: block !important;
    }

    .webite-contact,
    .footer-right {
        width: 100% !important;
    }

    .footercontactdown,
    .mobile-contact,
    .info-stack,
    .footercontact {
        text-align: left !important;
        align-self: baseline !important;
    }

    .br-footer {
        display: none;
    }

    /* .footer-orange-ball {
        width: 582px !important;
        height: 567px !important;
        top: 22% !important;
    } */

    .social-icon-sec {
        bottom: 0px !important;
        gap: 58px !important;
    }

    .social-icon {
        width: 40px !important;
        height: 40px !important;
    }

    .footer-policy-div {
        flex-direction: row !important;
        justify-content: space-between !important;
    }

    .footerBottomhead {
        margin-top: 30px !important;
        width: 100% !important;
        bottom: -20px !important;
        padding: 0 0px;
    }

    /* .footer-section {
        max-height: fit-content !important;
    } */

}

/* @media (max-width: 899px) {
    .btn-spac-left {
        margin-left: 10px !important;
    }

    .btn-spac-right {
        margin-right: 5px !important;
    }
} */

@media (max-width: 770px) {
    .footerBottomhead {
        margin-top: 30px !important;
        bottom: -20px !important;
        font-size: clamp(28px, 7.5vw, 165px) !important;
    }
}

@media (max-width: 600px) {
    .footerBottomhead {
        bottom: -20px !important;
    }

    .footer-section {
        max-height: none !important;
        height: fit-content !important;
    }
}

@media (max-width: 480px) {
    .footer-container {
        margin-top: 100px;
    }

    .footer-section {
        max-height: none !important;
        height: fit-content !important;
    }

    .footerBottomhead {
        margin-top: 10px;
        bottom: -5px !important;
        /* font-size: clamp(24px, 7.5vw, 165px) !important; */
    }

    /* .footer-orange-ball {
        width: 382px !important;
        height: 367px !important;
        top: 17% !important;
    } */

    .social-icon {
        width: 25.926px !important;
        height: 25.926px !important;
        aspect-ratio: 25.93/25.93;
    }

    .social-icon-sec {
        margin-top: 0px !important;
        bottom: 0px !important;
        gap: 37px !important;
    }

    .btn-social-icon {
        margin-bottom: 0px !important;
    }

    .footer-policy-div {
        flex-direction: column !important;
        justify-content: space-between !important;
        position: relative !important;
        bottom: 7px !important;
        gap: 10px !important;
        margin-top: 30px !important;
    }

    .footer-main-div {
        padding-left: 14px !important;
        padding-right: 14px !important;
    }
    
.mail-btn {
    width: 40px !important;
    min-width:  42px !important;
    height: 40px !important;
   
}

}

@media (max-width: 380px) {
    .footerBottomhead {
        margin-top: 10px !important;
        bottom: -7px !important;
        font-size: clamp(24px, 7.5vw, 165px) !important;
    }

    .footer-section {
        max-height: none !important;
        height: fit-content !important;
    }

    .xl-heading-text {
        font-size: 25px !important;
    }

}

.footerBottomhead {
    overflow: hidden;
    position: relative;
}

.footer-scroll-text {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 20s linear infinite;
    padding-left: 100%;
    /* start offscreen */
}

/* Keyframes for horizontal scrolling */
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Responsive tuning */
@media (max-width: 600px) {
    .footer-scroll-text {
        animation-duration: 30s;

    }
}

@media (min-width: 600px) and (max-width: 960px) {
    .footer-scroll-text {
        animation-duration: 25s;

    }
}

@media (min-width: 960px) {
    .footer-scroll-text {
        animation-duration: 100s;

    }
}