.footer-container {
    margin-top: 200px;
    max-height: 50vh !important;
}

.mobile-contact {
    display: none !important;
}

/* .btn-spac-left {
    margin-left: 20px !important;
}

.btn-spac-right {
    margin-right: 15px !important;
} */

@media (min-width: 1920px) {
    .footerBottomhead {
        bottom: -45px !important;
        font-size: calc(4.5rem + 4vw) !important;
    }
}

@media (min-width: 2100px) {
    .footerBottomhead {
        font-size: calc(4.3rem + 4.5vw) !important;
    }
}

@media (min-width: 2400px) {
    .footerBottomhead {
        font-size: calc(4.3rem + 5vw) !important;
    }
}

@media (min-width: 2700px) {
    .footerBottomhead {
        bottom: -65px !important;
        font-size: calc(4.8rem + 5vw) !important;
    }
}

@media (max-width: 1920px) {
    .footerBottomhead {
        bottom: -45px !important;
        font-size: calc(4rem + 4.3vw) !important;
    }

    .btn-social-icon {
        gap: 50px !important;
    }

    .footer-main-div {
        margin-bottom: 0px !important;
    }

    .footerBottom-div {
        width: 100% !important;
        margin: 0;
    }

    .footer-orange-ball {
        width: 860px !important;
        height: 850px !important;
    }

    .footer-section {
        padding-top: 40px !important;
    }

    .footerhead {
        margin-bottom: 40px !important;
    }

}

@media (max-width: 1750px) {
    .footerBottomhead {
        bottom: -35px !important;
        font-size: calc(4rem + 3.8vw) !important;
    }
}

@media (max-width: 1550px) {
    .footerBottomhead {
        bottom: -35px !important;
        font-size: calc(4rem + 3.5vw) !important;
    }
}

@media (max-width: 1440px) {
    .footerBottomhead {
        bottom: -30px !important;
        font-size: clamp(60px, 7.5vw, 145px) !important;
    }

    .footerhead {
        margin-bottom: 20px !important;
    }

    .footer-section {
        max-height: 105vh !important;
    }

    .footer-main-div {
        margin-bottom: 03px !important;
    }

    .footer-orange-ball {
        width: 760px !important;
        height: 750px !important;
    }
}

@media (max-width: 1024px) {
    .footerBottomhead {
        bottom: -25px !important;
        font-size: clamp(60px, 7.5vw, 155px) !important;
    }

    .footer-policy-div {
        position: relative !important;
        bottom: -20px !important;
    }

}

@media (max-width: 899px) {
    .webite-contact {
        display: none !important;
    }

    .footercontact {
        position: relative;
        bottom: -10px;
    }

    .mobile-contact {
        display: block !important;
    }

    .btn-social-icon {
        height: 250px;
        justify-content: space-between !important;
        margin-bottom: 150px !important;
    }

    .footercontactdown,
    .mobile-contact,
    .info-stack,
    .footercontact {
        text-align: left !important;
        align-self: baseline !important;
    }

    .br-footer {
        display: none;
    }

    .footer-orange-ball {
        width: 582px !important;
        height: 567px !important;
        top: 22% !important;
    }

    .social-icon-sec {
        bottom: -100px !important;
        gap: 58px !important;
    }

    .social-icon {
        width: 40px !important;
        height: 40px !important;
    }

    .footer-policy-div {
        flex-direction: row !important;
        justify-content: space-between !important;
    }

    .footerBottomhead {
        width: 100% !important;
        bottom: -65px !important;
        padding: 0 0px;
    }

    .footer-section {
        max-height: fit-content !important;
    }

}

/* @media (max-width: 899px) {
    .btn-spac-left {
        margin-left: 10px !important;
    }

    .btn-spac-right {
        margin-right: 5px !important;
    }
} */

@media (max-width: 770px) {
    .footerBottomhead {
        font-size: clamp(28px, 7.5vw, 165px) !important;
    }
}

@media (max-width: 600px) {
    .footerBottomhead {
        bottom: -45px !important;
    }
}

@media (max-width: 480px) {
    .footer-container {
        margin-top: 100px;
    }

    .footer-orange-ball {
        width: 382px !important;
        height: 367px !important;
        top: 17% !important;
    }

    .social-icon {
        width: 25.926px !important;
        height: 25.926px !important;
        aspect-ratio: 25.93/25.93;
    }

    .social-icon-sec {
        bottom: 20px !important;
        gap: 37px !important;
    }

    .btn-social-icon {
        margin-bottom: 0px !important;
    }

    .footer-policy-div {
        flex-direction: column !important;
        justify-content: space-between !important;
        position: relative !important;
        bottom: 7px !important;
        gap: 10px !important;
        margin-top: 30px !important;
    }

    .footer-main-div {
        padding-left: 14px !important;
        padding-right: 14px !important;
    }
}

@media (max-width: 380px) {
    .footerBottomhead {
        bottom: -40px !important;
        font-size: clamp(24px, 7.5vw, 165px) !important;
    }
}