.machines-container1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 83vh;
}

.machines-container {
  padding: 0px 50px;
  margin-top: 5vw;
  width: 70%;
}

@media (max-width: 1024px) {
  .machines-container {
    padding: 0px 30px;
    width: 100%;
  }
}

@media (max-width: 899px) {
  .animate-button {
    width: 100px !important;
    height: 100px !important;
  }

  .maintenance-containers {
    height: 130vh !important;
  }
}

@media (max-width: 768px) {
  .machines-container {
    padding: 0px 20px;
    padding-top: 7rem !important;
    padding-bottom: 5rem !important;
  }

  .maruecontainer {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
}

@media (max-width: 767px) {
  .maintenance-containers {
    height: 200vh !important;
  }
}

@media (max-width: 480px) {
  .machines-container {
    padding: 0px 15px;
    padding-top: 7rem !important;
    padding-bottom: 5rem !important;
  }

  .animate-button {
    width: 100px !important;
    height: 100px !important;
  }

  .machinelabels {
    padding: 20px 15px !important;
  }

  .maruecontainer {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}