.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

.main-logo {
  width: 70px;
  height: 70px;
  margin-top: 16px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 800px;
  background-color: #7FEE64;
  border-radius: 24px 24px;
  padding: 40px 32px;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  color: #1A1A1A;
  transform: translateY(-100%);
  animation: slideDown 0.5s forwards;
  position: relative;
}

.custom-button {
  position: absolute;
  bottom: -12%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #7FEE64;
  border-radius: 0 0 32px 32px;
  padding: 12px 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.arrow-icon {
  font-weight: bold;
  color: #1A1A1A;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 34px;
  min-height: 40px;
}


@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.menu-item {
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  transition: color 0.3s;
}

.cancel-menu {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #7FEE64;
  border-radius: 32px 32px 0 0;
  padding: 12px 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.profile-button {
  border-radius: 32px !important;
  border: 2px solid #525252 !important;
  background: #161616 !important;
  display: flex;
  width: 66px;
  height: 66px;
  padding: 15px !important;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.book-demo-btn {
  background-color: #FCFCFC;
  color: #1A1A1A;
  border: none;
  border-radius: 32px;
  padding: 20px 32px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.book-demo-btn:hover {
  background-color: #7FEE64;
}