.maintaince-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 80vh;
    padding: 0px 50px;
}

.maintaince-sub-container1 {
    width: 50%;
}
.maintextcontainer{
    width: 70%;
    
}

@media (max-width: 1024px) {
    .maintaince-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 30px;
    }

    .maintaince-sub-container1 {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .maintaince-container {
        padding: 0px 20px;
    }
    .maintaine-section2{
        justify-content: flex-start !important;
    }
    .maintaine-section2-div{
        width: 100% !important;
        padding: 0 20px !important;
    }
}

@media (max-width: 480px) {
    .maintaince-container {
        padding: 0px 15px;
    }
    .maintextcontainer{
    width: 100%;
    
}
}