@font-face {
  font-family: SatoshiRegular;
  src: url(../public/Satoshi-Regular.otf);
}

@font-face {
  font-family: SatoshiMedium;
  src: url(../public/Satoshi-Medium.otf);
}

@font-face {
  font-family: PowerGroteskTrialBold;
  src: url(../public/PowerGroteskTrial-Bold.otf);
}

@font-face {
  font-family: ShantellSans;
  src: url(../public/ShantellSans-Regular.ttf);
}

.css-13rd1mj-MuiFormLabel-root-MuiInputLabel-root,
.css-5lrzbe-MuiFormLabel-root-MuiInputLabel-root,
.css-4r8vet,
.css-12h58yv,
.css-1usuzwp-MuiButtonBase-root-MuiTab-root,
.css-6p016c {
  font-family: SatoshiRegular !important;
}

* {
  font-family: SatoshiRegular;
  cursor: none;
}

body {
  background: #1D1D1F;
  color: #FCFCFC;
}

.section-container {
  padding: 0px 50px;
  margin-top: 200px;
  margin-bottom: 3vw;
}

.headings-h1,
.headings-h2,
.headings-h3,
.headings-h4 {
  font-family: PowerGroteskTrialBold !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 120% !important;
  letter-spacing: -0.84px !important;
}

.headings-h1 {
  font-size: 84px !important;
}

.headings-h2 {
  font-size: 67px !important;
}

.headings-h3 {
  font-size: 54px !important;
}

.headings-h4 {
  font-size: 43px !important;
}

.shantellSansFont {
  font-family: ShantellSans !important;
  color: #C2C2C4;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.bodyRegularText1,
.bodyRegularText2,
.bodyRegularText3,
.bodyRegularText4,
.bodyRegularText5 {
  font-family: SatoshiRegular !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 150% !important;
}

.bodyMediumText1,
.bodyMediumText2,
.bodyMediumText3,
.bodyMediumText4 {
  color: #1A1A1A;
  font-family: SatoshiMedium !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 150% !important;
}

.bodyRegularText1 {
  font-size: 14px !important;
  line-height: 100% !important;
}

.bodyRegularText2,
.bodyMediumText1 {
  font-size: 28px !important;
}

.bodyRegularText3,
.bodyMediumText2 {
  font-size: 22px !important;
}

.bodyRegularText4,
.bodyMediumText3 {
  font-size: 17px !important;
}

.bodyRegularText5,
.bodyMediumText4 {
  font-size: 12px !important;
}

/* Media Queries for Responsive Design */

/* Large Screens (Desktops) */
@media (min-width: 2100px) {
  .headings-h1 {
    font-size: 100px !important;
  }

  .headings-h2 {
    font-size: 87px !important;
  }

  .headings-h3 {
    font-size: 74px !important;
  }

  .headings-h4 {
    font-size: 55px !important;
  }

  .bodyRegularText1 {
    font-size: 20px !important;
  }

  .bodyRegularText2,
  .shantellSansFont,
  .bodyMediumText1 {
    font-size: 35px !important;
  }

  .bodyRegularText3,
  .bodyMediumText2 {
    font-size: 30px !important;
  }

  .bodyRegularText4,
  .bodyMediumText3 {
    font-size: 24px !important;
  }

  .bodyRegularText5,
  .bodyMediumText4 {
    font-size: 18px !important;
  }
}

@media (max-width: 1640px) {
  .headings-h1 {
    font-size: 62px !important;
  }

  .headings-h2 {
    font-size: 58px !important;
  }

  .headings-h3 {
    font-size: 46px !important;
  }

  .headings-h4 {
    font-size: 36px !important;
  }

  .bodyRegularText1 {
    font-size: 13px !important;
  }

  .bodyRegularText2,
  .shantellSansFont,
  .bodyMediumText1 {
    font-size: 24px !important;
  }

  .bodyRegularText3,
  .bodyMediumText2 {
    font-size: 20px !important;
  }

  .bodyRegularText4,
  .bodyMediumText3 {
    font-size: 15px !important;
  }

  .bodyRegularText5,
  .bodyMediumText4 {
    font-size: 11px !important;
  }
}

@media (max-width: 1440px) {
  .headings-h1 {
    font-size: 50px !important;
  }
}

/* Medium Screens (Tablets) */
@media (max-width: 1024px) {
  .section-container {
    padding: 0px 30px;
    margin-top: 100px;
  }

  .headings-h1 {
    font-size: 50px !important;
  }

  .headings-h2 {
    font-size: 50px !important;
  }

  .headings-h3 {
    font-size: 40px !important;
  }

  .headings-h4 {
    font-size: 30px !important;
  }

  .bodyRegularText1 {
    font-size: 12px !important;
  }

  .bodyRegularText2,
  .shantellSansFont,
  .bodyMediumText1 {
    font-size: 20px !important;
  }

  .bodyRegularText3,
  .bodyMediumText2 {
    font-size: 18px !important;
  }

  .bodyRegularText4,
  .bodyMediumText3 {
    font-size: 14px !important;
  }

  .bodyRegularText5,
  .bodyMediumText4 {
    font-size: 10px !important;
  }
}

/* Small Screens (Mobile Devices) */
@media (max-width: 768px) {
  .section-container {
    padding: 0px 20px;
  }

  .headings-h1 {
    font-size: 48px !important;
  }

  .headings-h2 {
    font-size: 40px !important;
  }

  .headings-h3 {
    font-size: 32px !important;
  }

  .headings-h4 {
    font-size: 24px !important;
  }

  .bodyRegularText1 {
    font-size: 10px !important;
  }

  .bodyRegularText2,
  .shantellSansFont,
  .bodyMediumText1 {
    font-size: 18px !important;
  }

  .bodyRegularText3,
  .bodyMediumText2 {
    font-size: 16px !important;
  }

  .bodyRegularText4,
  .bodyMediumText3 {
    font-size: 13px !important;
  }

  .bodyRegularText5,
  .bodyMediumText4 {
    font-size: 9px !important;
  }
}

/* Extra Small Screens (Very Small Devices) */
@media (max-width: 480px) {
  .section-container {
    padding: 0px 15px;
  }

  .headings-h1 {
    font-size: 36px !important;
  }

  .headings-h2 {
    font-size: 30px !important;
  }

  .headings-h3 {
    font-size: 26px !important;
  }

  .headings-h4 {
    font-size: 20px !important;
  }

  .bodyRegularText1 {
    font-size: 9px !important;
  }

  .bodyRegularText2,
  .shantellSansFont,
  .bodyMediumText1 {
    font-size: 16px !important;
  }

  .bodyRegularText3,
  .bodyMediumText2 {
    font-size: 14px !important;
  }

  .bodyRegularText4,
  .bodyMediumText3 {
    font-size: 12px !important;
  }

  .bodyRegularText5,
  .bodyMediumText4 {
    font-size: 8px !important;
  }
}

@media (max-width: 375px) {

  .bodyRegularText2,
  .bodyMediumText1 {
    font-size: 12px !important;
  }

  .bodyRegularText4,
  .bodyMediumText3 {
    font-size: 10px !important;
  }
}