.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85vh;
  padding: 0px 50px;
}

.machine-sec-homepage {
  padding-left: 50px;
}

.main-sub-container1 {
  width: 50%;
}

.main-sub-container2 {
  display: flex;
  gap: 32px;
  align-items: center;
  width: 50%;
}

.explore-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.explore-container .main-sub-container1:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.whatnew-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.css-1qw2a80-MuiGrid-root>.MuiGrid-item {
  padding-top: 16px !important;
}

.sustain-icons {
  width: 120px;
  height: 120px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sustain-sec {
  max-width: 40%;
}

.whoweServe-sec {
  display: flex;
}

.whoweServe-left-sec {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.whoweServe-right-sec {
  width: 50% !important;
  display: flex;
  gap: 16px !important;

}

.whoweServe-left-sec2-text {
  width: 80%;
}

.whoweServe-right-sec1 {
  width: 50% !important;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.whoweServe-right-sec2 {
  padding-top: 15%;
}

/* Media Queries for Responsive Design */

/* Large Screens (Desktops) */
@media (max-width: 2720px) {
  .blog-image {
    position: relative;
    bottom: -65px;
  }

  .bigimagecontaiter {
    bottom: 30px !important;
  }

  .testimonial-cards-sec {
    height: 650px !important;
  }
}

@media (min-width: 2000px) {
  .bigimagecontaiter {
    bottom: 60px !important;
  }
}

@media (max-width: 1920px) {
  .blog-image {
    position: relative;
    bottom: 70px;
  }

  .bigimagecontaiter {
    bottom: -90px !important;
  }
}

@media (min-width: 2170px) {
  .left-sections {
    padding-top: 6rem !important;
  }
}

@media (min-width: 2135px) {
  .blog-image {
    max-width: 420px !important;
    left: 20% !important;
  }
}

@media (min-width: 2135px) {
  .blog-image {
    max-width: 420px !important;
    left: 20% !important;
  }
}

@media (min-width: 1850px) {
  .takeimage {
    padding-top: 5rem !important;
  }
}

@media (max-width: 1850px) {
  .sustain-icons {
    width: 100px;
    height: 100px;
  }

  .sustainability-icon {
    width: 40px;
    height: 40px;
  }

}

@media (min-width: 1650px) {
  .explore {
    width: 1567px !important;
  }

  .exploretext {
    width: 967px !important;
  }

  .clientText {
    max-width: 740px !important;
  }
}

@media (min-width: 1541px) {
  .blog-image {
    max-width: 420px !important;
    left: 5% !important;
  }
}

@media (max-width: 1541px) {
  .blog-image {
    bottom: 92px;
  }
}

@media (max-width: 1440px) {

  .main-sub-container1,
  .main-sub-container2 {
    width: 75%;
  }

  .sustain-sec {
    max-width: 75%;
  }

  .whoweServe-left-sec {
    width: 40%;
  }

  .whoweServe-right-sec {
    width: 60% !important;
  }
}

@media (max-width: 1350px) {
  .Whatimage-container {
    left: 15% !important;
  }

  .bigimage {
    width: 350px !important;
  }
}

@media (max-width: 1211px) {
  .bigimage {
    width: 250px !important;
  }

  .main-sub-container1,
  .main-sub-container2 {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .bigimage {
    width: 200px !important;
  }

  .bigtitle {
    width: 40% !important;
    margin-left: 4rem !important;
  }

  .sustain-icons {
    width: 80px;
    height: 80px;
  }

  .sustainability-icon {
    width: 40px;
    height: 40px;
  }
}

/* Medium Screens (Tablets) */
@media (min-width: 1025px) {
  .imagestaticwhats {
    display: none;
  }

  .arrowtabscreen {
    display: none;
  }

  .blog-containerss {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .main-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
  }

  .machine-sec-homepage {
    padding-left: 30px;
  }

  .main-sub-container1,
  .main-sub-container2 {
    width: 100%;
  }

  .main-sub-containerss {
    width: 90%;
  }

  .main-sub-container2 {
    gap: 24px;
  }

  .smallImages {
    display: none !important;
  }

  .explore-container {
    padding-bottom: 2rem !important;
  }

  .Whatimage-container {
    display: none;
  }

  .imagestaticwhats {
    display: block;
  }

  .arrowbig {
    display: none !important;
  }

  .date {
    transform: none !important;
  }

  .arrowbutton {
    width: 60px !important;
    height: 60px !important;
    padding: 23.712px !important;
    gap: 7.41px !important;
    border-radius: 23.712px !important;
  }

  .datebig {
    display: none !important;
  }

  .bigimage {
    display: none !important;
  }

  .bigimagecontaiter {
    display: none !important;
  }

  .bigtitle {
    display: none !important;
  }

  .arrowbigscreen {
    display: none !important;
  }
}

/* Small Screens (Mobile Devices) */
@media (min-width: 961px) {
  .blog-image {
    max-width: 300px;
    left: 10%;
  }
}

@media (max-width: 899px) {
  .sustain-sec {
    max-width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 960px) {
  .blog-image {
    max-width: 280px;
    left: 10%;
  }
}

@media (max-width: 768px) {
  .main-container {
    padding: 0px 20px;
  }

  .machine-sec-homepage {
    padding-left: 20px;
  }

  .main-sub-container2 {
    gap: 16px;
    flex-direction: column;
  }

  .cardimage {
    padding-top: 1rem !important;
  }

  .videobox {
    border-radius: 9.495px !important;
  }

  .whoweServe-sec {
    flex-direction: column;
  }

  .whoweServe-left-sec,
  .whoweServe-right-sec {
    width: 100% !important;
  }

  .whoweServe-right-sec {
    padding-top: 2rem !important;
  }
}

@media (min-width: 600px) {
  .imagestaticwhatssmallscreen {
    display: none;
  }

  .blog-containerss {
    flex-direction: row;
  }
}

@media (max-width: 600px) {
  .blog-image {
    max-width: 100%;
    left: 5%;
  }

  .imagestaticwhats {
    display: none;
  }

  .blog-containerss {
    flex-direction: column !important;
  }

  .whatsmiddletext {
    width: auto !important;
  }

  .arrow-container {
    display: none !important;
  }

  .arrowtabscreen {
    display: none;
  }

  .arrowbig {
    display: block !important;
    width: 30px !important;
    height: 22px !important;
    aspect-ratio: 16.00/21.33 !important;
    transform: none !important;
  }

  .datebig {
    display: none !important;
  }

  .bigimage {
    display: none !important;
  }

  .bigimagecontaiter {
    display: none !important;
  }

  .bigtitle {
    display: none !important;
  }

  .arrowbutton {
    width: 40px !important;
    height: 40px !important;
    padding: 13px !important;
    gap: 7.41px !important;
    border-radius: 14px !important;
  }

  .whoweServe-right-sec {
    flex-direction: column !important;
    gap: 10px !important;
  }

  .whoweServe-right-sec1 {
    width: 100% !important;
    height: 1000px !important;
  }

  .whoweServe-right-sec2 {
    padding-top: 0% !important;
  }
}

/* Extra Small Screens (Very Small Devices) */
@media (max-width: 480px) {
  .main-container {
    padding: 0px 15px;
  }

  .machine-sec-homepage {
    padding-left: 15px;
  }

  /* .maintext {
    text-align: center !important;
  } */

  .explore-container {
    flex-direction: column;
    gap: 24px;
  }

  .whatsnewcontainer {
    flex-direction: row;
  }

  .explorebutton {
    align-self: flex-start !important;
    padding-bottom: 10px !important;
  }

  .control-section {
    border-radius: 18px !important;
  }

  .sustain-icons {
    width: 70px;
    height: 70px;
  }

  .sustainability-icon {
    width: 30px;
    height: 30px;
  }

  .explore-container {
    display: block;
  }

  .explore-container .main-sub-container1:last-child {
    padding: 1rem 0rem;
  }
}

@media (max-width: 375px) {
  .testimonials-section {
    padding: 40px 20px !important;
    border-radius: 18px !important;
    height: 650px !important;
  }

  .left-sections {
    padding-top: 0px !important;
  }

  .arrowbig {
    width: 15% !important;
    height: 21px !important;
  }

  .sustain-icons {
    width: 60px;
    height: 60px;
  }

  .sustainability-icon {
    width: 25px;
    height: 25px;
  }
}